POSTGRES_USER=your_production_postgres_user_here
POSTGRES_PASSWORD=your_production_postgres_password_here
POSTGRES_DB=your_production_postgres_db_here
SECRET_KEY=your_production_secure_64_character_hex_secret_key_here
FIRST_SUPERUSER=your_production_admin_email_here
FIRST_SUPERUSER_PASSWORD=your_production_admin_password_here
BACKEND_CORS_ORIGINS=["https://yourdomain.com"]
