POSTGRES_USER=your_test_postgres_user_here
POSTGRES_PASSWORD=your_test_postgres_password_here
POSTGRES_DB=your_test_postgres_db_here
SECRET_KEY=your_test_secure_64_character_hex_secret_key_here
FIRST_SUPERUSER=your_test_admin_email_here
FIRST_SUPERUSER_PASSWORD=your_test_admin_password_here
BACKEND_CORS_ORIGINS=["http://localhost:5173", "http://localhost:3000"]
